/*body{    
    background-color: #2A2C2F;

}*/

.page{
    background-color: #2A2C2F; 
}

/*@media screen and (max-width:1024px)
{
    .page{    
        max-width: 1024px;       
        border: 1px solid green;   
        background-color:purple; 
    }
}*/