@import url(./__item/photo-grid__item.css);

.photo-grid {
  /*max-width: 1280px;*/
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  gap: 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1030px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 15px;
    row-gap: 15px;
  }
}

@media screen and (max-width: 770px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 352px);
    /*width: 720px;*/
  }
}

@media screen and (max-width: 330px) {
  .photo-grid {
    /*width: 90%;*/
    grid-template-columns: repeat(auto-fill, 288px);
    row-gap: 12.5px;
  }
}
