.places {
  display: grid;
  grid-row-gap: 80px;

  max-width: 980px;
  /*height: 3392px;*/
  min-height: 3592px;
 margin:0 auto;
}

@media screen and (max-width: 1054px) {
  .places {
    max-width: 928px;
    min-height: 3296px;
    /*border: 1px solid green;*/
  }
}

@media screen and (max-width: 770px) {
  .places {
    max-width: 720px;
    min-height: 2802px;
    grid-row-gap: 200px;
   
    /*border: 1px solid green;*/
  }
}

@media screen and (max-width: 410px) {
  .places {
    max-width: 320px;
    min-height: 4775px;    
    grid-row-gap: 200px;
    width: 100%;
  }
}
