.places {
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  width: 77%;
  margin: 0 auto;
  height: 3388px;
}

@media screen and (max-width: 1030px) {
  .places {
    width: 90%;
    height: 3289px;
    /*
    min-height: 3296px;*/
    padding-top: 10%;
  }
}

@media screen and (max-width: 770px) {
  .places {
    width: 94%;
    min-height: 2802px;
    grid-row-gap: 50px;
    padding-top: 12%;
  }
}

@media screen and (max-width: 410px) {
  .places {
    max-width: 320px;
    min-height: 4775px;
    grid-row-gap: 200px;
    width: 100%;
  }
}
