.intro__list {
  /* __list */
  max-width: 690px;
  margin-left: 12%;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #ffffff;
  list-style-type: none; /* Убираем маркеры */
  padding-left: 0;
}

@media screen and (max-width: 798px) {
  .intro__list {
    max-width: 720px;
    /* border: 1px solid green;*/
  }
}

@media screen and (max-width: 350px) {
  .intro__list {
    max-width: 288px;
    /* border: 1px solid green;*/
  }
}
