.intro__list {
  /* __list */
  max-width: 690px;
  /*margin-left: 12%;*/
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #ffffff;
  list-style-type: none; /* Убираем маркеры */
  padding-left: 0;
}

@media screen and (max-width: 770px) {
  .intro__list {
    width: 96%;
    margin-left: 3%;
    /* border: 1px solid green;*/
  }
}

@media screen and (max-width: 350px) {
  .intro__list {
    max-width: 288px;
    margin-left: 4%;
    /* border: 1px solid green;*/
  }
}
