@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead{
    max-width: 984px;
    min-height: 1005px;  
    margin: auto;
   
   /* border: 1px solid red;*/
}
@media screen and (max-width:1024px)
{
  .lead{
    max-width: 768px;
    min-height: 962px;
   /* border: 1px solid green;*/
  }
}

@media screen and (max-width:770px)
{
  .lead{
    max-width:768px;
    min-height: 862px;
  }
  .lead__image{
    width: 768px;
    height: 400px;
     background-image:contain;
   /* border: 1px solid green;*/    
}


@media screen and (max-width:330px)
{
  .lead{
    max-width: 320px;
    min-height: 406px;
  }
    .lead__title {
        max-width: 288px;
        min-height: 88px;
        font-size: 40px;
        line-height: 44px;
          /* border: 1px solid green;*/
    }
    .lead__subtitle{
      max-width: 288px;
      min-height: 40px;
      font-size: 16px;
      line-height: 20px;
     /* border: 1px solid green;*/
  }
  .lead__image{
    width: 320px;
    height: 200px;
    background-image:contain;
   /* border: 1px solid green;*/    
  }
}