@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
  max-width: 984px;
  min-height: 1005px;
  margin: auto;
  margin-bottom: 92px;
  
}
@media screen and (max-width: 1024px) {
  .lead {
    width: 88%;
    min-height: 962px;
    /* border: 1px solid green;*/
    margin-bottom: 0;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 770px) {
  .lead {
    width: 99%;
    /*max-width: 768px;*/
  }
}

@media screen and (max-width: 350px) {
  .lead {
    margin-bottom: 10%;
    max-width: 320px;
    min-height: 406px;
  }
}
