.cover__subtitle{
/* __subtitle */
    max-width: 360px;
    font-family: Inter, Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
/* or 122% */

    text-align: center;
    color: #FFFFFF;  
    margin: 0 auto;
    position: relative;
}

  @media screen and (max-width: 410px) {
  
    .cover__subtitle {
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
      /*border: 1px solid green;*/
    }
  }