.cover__subtitle {
  /* __subtitle */
  max-width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 330px) {
  .cover__subtitle {
    width: 84.3%;
    font-size: 14px;
    line-height: 16px;
    /*border: 1px solid green;*/
  }
}
