/*.place__paragraph_bottom{
/* __paragraph */

/*
    position: absolute;
    width: 484px;
    height: 210px;
    right: 0px;
    top: 350px;

   font-family: Inter, Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
/* or 167% */
  /*  color: #FFFFFF;
}*/

.place__paragraph_bottom{
  width: 484px;
  height: 210px;
    grid-column-start: 3;
    grid-column-end:5;
    grid-row-start: 3;
    grid-row-end: 5;
    font-family: Inter, Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 0;
}