@import url(./__bottom/place__paragraph_bottom.css);
@import url(./__top/place__paragraph_top.css);

.place__paragraph {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  font-family: Inter, Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 0;
}
