.intro__text {
  margin-top: 0;
  max-width: 690px;
  /*margin-left: 12%;*/
  margin-bottom: 4%;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #ffffff;
}

@media screen and (max-width: 770px) {
  .intro__text {
    width: 100%;
    margin-left: 3%;
  }
}

@media screen and (max-width: 350px) {
  .intro__text {
    width: 94%;
    max-width: 288px;
    margin-left: 4%;
  }
}
