@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  max-width: 690px;
  min-height: 428px;
  padding-right: 25%;
  padding-bottom: 100px;
  margin-bottom: 80px;
  /*  border: 1px solid red;*/
  /*margin-left: auto;
  margin-right: auto;*/
}

@media screen and (max-width: 798px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width: 350px) {
  .intro {
    max-width: 288px;
    min-height: 752px;
  }
}
