@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__span-numbers/intro__span-numbers.css);

.intro {
  /*max-width: 94%;*/
  min-height: 428px;
  padding-bottom: 7%;
  margin-bottom: 0;
  margin:0 auto;
  width: 78%;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 90%;
    padding-bottom: 8.5%;
    /*
    width: 88%;*/    
  }
}

@media screen and (max-width: 770px) {
  .intro {
    width: 98%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 330px) {
  .intro {
    width: 90%;
    min-height: 752px;
  }
}
