@import url(./__url-heading/website__url-heading.css);
@import url(./__link/website__link.css);

.website {
  max-width: 456px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 2%;
  padding-bottom: 2%;
}

@media screen and (max-width: 770px) {
  .website {
    max-width: 352px;
  }
}
