.lead__subtitle{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 64px;
    font-family: Inter, Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    width: 640px;
    height: 72px;
    text-align: center;
    
    color: #FFFFFF;
}