.lead__subtitle {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  max-width: 640px;
  /* min-height: 72px;*/
  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 330px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 39px;
    /* border: 1px solid green;*/
  }
}
