@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);
@import url(./__link/cover__link.css);

.cover {
  max-width: 1184px;
  width: 95%;
  min-height: 740px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 7%;
}

@media screen and (max-width: 1030px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    margin-top: 88px;
    /*border: 1px solid green;*/
  }
}

@media screen and (max-width: 520px) {
  .cover {
    margin-top: 20%;
    max-width: 320px;
    min-height: 200px;
  }
}
