@import url(../vendor/inter.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo_grid/photo_grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);



.page{   
    border: 1px solid red;
    background-color: #2A2C2F;
    min-width: 1280px;
    min-height: 6874px;
}

@media screen and (max-weight:320px)
{
    .page{
        border: 1px solid red;
        background-color: #2A2C2F;
        min-width: 320px;
        min-height: 9617px;
    }
}

@media screen and (max-weight:768px)
{
    .page{
        border: 1px solid red;
        background-color: #2A2C2F;
        min-width: 768px;
        min-height: 6846px;
    }
}

@media screen and (max-weight:1024px)
{
    .page{
        border: 1px solid red;
        background-color: #2A2C2F;
        min-width: 1024px;
        min-height: 6898px;
    }
}