@import url(./__image/place__image.css);
@import url(./__title/place__title.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__margin/place__margin.css);

.place {
  display: grid;
  grid-row-gap: 6%;
  column-gap: 40px;
  grid-template-columns: calc(46.1%) auto;
  /*grid-template-columns: calc(46.7%) auto;*/
  row-gap: 48px;
  max-width: 984px;
  margin-bottom: 7%;
}

@media screen and (max-width: 1054px) {
  .place {
    max-width: 928px;
    /*height: 644px;*/
    row-gap: 40px;
  }
}

@media screen and (max-width: 770px) {
  .place {
    /*width: 100%;*/
    row-gap: 46px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 420px) {
  .place {
    max-width: 320px;
    /*  min-height: 963px;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    row-gap: 19px;
  }
}
/*@media screen and (max-width: 330px) {
  .place {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    row-gap: 19px;
  }
}
*/
