@import url(./__image/place__image.css);
@import url(./__title/place__title.css);
@import url(./__paragraph/place__paragraph.css);

.place{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(3,33%);
}

@media screen and (max-width: 410px) {
    .place {
      width: 320px;
      min-height: 963px;
     display: flex;
     flex-direction: column;
    }

    .place__title {
      width: 288px;
      min-height: 35px;
      font-size: 32px;
      line-height: 35px;
    }
    .image {
      width: 320px;
      height: 320px;
    }
  }