@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);

.footer{
    /* footer */
    max-width: 1175px;
    min-height: 18px;
    margin-top: 87px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*  border: 1px solid red;*/
}

@media screen and (max-width:1020px)
{
  .footer{
    max-width: 928px;
   /* min-height: 18px;*/
  }
}

@media screen and (max-width:780px)
{
  .footer{
    max-width: 720px;
  }
}

@media screen and (max-width:350px)
{
  .footer{
    max-width: 186px;
    height: 310px;
    display: flex;
    flex-direction: column;
  }
}