@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);

.footer{
    /* footer */
    max-width: 1175px;
    min-height: 18px;
    margin-top: 87px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*  border: 1px solid red;*/
}

@media screen and (max-width:1054px)
{
  .footer{
    max-width: 928px;
    min-height: 18px;
  }
}
@media screen and (max-width:768px)
{
  .footer{
    max-width: 186px;
    min-height: 310px;
    display: flex;
    flex-direction: column;
  }
  .footer__links{
    display: flex;
    flex-direction: column;
  }
  .footer__copyright{
    min-height: 14px;
    font-size: 14px;
    line-height: 14px;
  }
  .footer__link{
    max-width: 128px;
    min-height: 24px;
    font-size: 24px;
    line-height: 24px;
  }
}