.intro__title {
  /* __title */
  margin-left: 12%;
  max-width: 690px;
  margin-bottom: 3%;
  margin-top: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  /* identical to box height, or 107% */
  color: #ffffff;


  /*  border: 1px solid red;*/
}

@media screen and (max-width: 770px) {
  .intro__title {
   width: 100%;
   margin-left: 3%;
  }
}

@media screen and (max-width: 350px) {
  .intro__title {
    width: 80%;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-left: 4%;
    margin-bottom: 12%;
  }
}
